summary {
  cursor: pointer;
}

details[open] > summary {
  margin-bottom: 1rem;
}

details {
  font-size: 15px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding: 5px !important;
  border: 1px solid #eee;
  background: #f8f8f8;
}

.by-dataset #by-use-case {
  display: none;
}

.by-use-case #by-dataset {
  display: none;
}

.data-gaps-details > td:first-child {
  width: 75%;
}

.filterable-table {
  width: calc(100% - 1px);
}

.filterable-table > thead > th {
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  -webkit-overflow-scrolling: touch
}

.filterable-table th {
    font-weight: bold
}

.filterable-table th,.filterable-table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec
    border-width: 2px !important;
}

details, details td, details th {
  font-size: 16px;
}

details summary {
  font-size: 18px;
}

.tabs ul {
  padding: 0;
}

.tabs ul li {
  margin: 0;
}

.tabs.is-boxed ul li a {
  color: #4a4a4a;
}

.tabs.is-boxed ul li:hover a {
  text-decoration: none;
}

.tabs.is-boxed ul li.is-active:hover a {
  cursor: initial;
}

.tabs ul li a:not(.is-active) {
  cursor: pointer;
}

.modal-card {
  width: calc(100% - 8rem);
  max-width: 1024px;
}

p.modal-card-title {
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal p, .modal details, .modal .gap-type {
  font-size: 20px;
}

.is-icon-tag {
  font-size: 14px !important;
}
